body, html {
    height: 100%;
    margin: 0;
    background-image: url("./image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid red;
  }

  h1 {
      border: 1px solid blue;
      /* margin-top: 20px; */
  }

